[Unit]
Description=tshark monitor
After=network.target

[Service]
ExecStart=tshark -i enp0s3 -f "host 192.168.1.12" -Y "(icmp.type==8) || (tcp.flags.syn==1 && tcp.flags.ack==0) || arp" -T ek -e frame.time  -e _ws.col.Protocol -e ip.src -e ip.dst -e icmp.type -e tcp.srcport -e tcp.dstport -e arp.src.hw_mac -e arp.dst.hw_mac -e arp.opcode
Restart=always
WorkingDirectory=/home/ubuntu
StandardOutput=append:/var/log/tshark.log
StandardError=append:/var/log/tshark.log

[Install]
WantedBy=multi-user.target

